.main-description {
  font-family: var(--h2-font);
  padding: 90px 0;
  color: var(--logo-colour);
}
.main-description h1 {
  color: var(--logo-colour);
}
.main-description b {
  font-size: 100px;
  letter-spacing: 3px;
  word-spacing: 15px;
}
