:root {
  /* --body-font: */
  --text-dark: #000;
  --white: #fefdfc;
  --logo-colour: #aa865b;
  --light-logo-color: #b99b7d;

  /* SPACING */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --font-cursive: "Carattere", sans-serif;
  --h2-font: "Tangerine", sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
  color: var(--logo-colour);
  margin: 0;
  width: 100%;
  letter-spacing: 1px;
  font-family: var(--font-cursive);
}
h2 {
  font-family: var(--h2-font);
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
  word-spacing: 3px;
}

body {
  /* font-family: var(--body-font); */
  color: var(--text-dark);
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  /* padding: 0 0 0 0; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-container {
  width: 100%;
  max-width: 1144px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: var(--spacing-md);
  /* background-color: var(--white); */
}
.menu {
  width: 100%;
  max-width: 1000px;
}
.menu li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.menu a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main_section img {
  height: 900px;
  max-height: 1000px;
}

/* GRADIENT */

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #fefdfc;
  --gradient-color-2: #d9c5b6;
  --gradient-color-3: #b99b7d;
  --gradient-color-4: #856351;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* With one white one gold and two leaves color */
  /* --gradient-color-1: #fefdfc;
  --gradient-color-2: #d9c5b6;
  --gradient-color-3: #88bca7;
  --gradient-color-4: #61a48a; */

  /* With one white two golden and one light green color */
  /* --gradient-color-1: #fefdfc;
  --gradient-color-2: #d9c5b6;
  --gradient-color-3: #b99b7d;
  --gradient-color-4: #88bca7; */
}

.description {
  color: var(--light-logo-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description .main-description {
  padding: 100px 25px;
}

.two-column {
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 0;
}

.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-lg) 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 5px 0 var(--spacing-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
