:root {
  /* --body-font: */
  --text-dark: #000;
  --white: #fefdfc;

  /* SPACING */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
}

body {
  /* font-family: var(--body-font); */
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  /* padding: 0 0 0 0; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  padding: var(--spacing-md);
  background-color: #fefdfc;
}
.menu {
  width: 100%;
  max-width: 1000px;
}
.menu li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.menu a {
  color: #aa865b;
  font-weight: bold;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* GRADIENT */

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section img {
  position: absolute;
}

#gradient-canvas {
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #fefdfc;
  --gradient-color-2: #d9c5b6;
  --gradient-color-3: #b99b7d;
  --gradient-color-4: #856351;

  /* With one white one gold and two leaves color */
  /* --gradient-color-1: #fefdfc;
  --gradient-color-2: #d9c5b6;
  --gradient-color-3: #88bca7;
  --gradient-color-4: #61a48a; */

  /* With one white two golden and one light green color */
  /* --gradient-color-1: #fefdfc;
  --gradient-color-2: #d9c5b6;
  --gradient-color-3: #b99b7d;
  --gradient-color-4: #88bca7; */
}
