/* NAVBAR */
.nav {
  position: absolute;
  top: 0;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  /* padding: 0 var(--spacing-xl); */
}
.navbar img {
  height: 65px;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.menu a {
  color: var(--logo-colour);
  margin: 0 var(--spacing-md);
  font-weight: bold;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}
