.header {
  font-size: var(--h2-font);
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  z-index: 3;
  color: #fefdfc;
  font-weight: normal;
  font-size: large;
}
#element {
  text-decoration: underline;
  font-weight: bold;
}
